/* Reset & Settings */

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.7rem;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #6a6a6a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: 'Passion One', cursive;
    color: #494949;
    font-size: 5rem;
    text-align: center;
    padding: 3rem;
}

p {
    font-size: 1.7rem;
    padding: 2rem;
    padding-top: 0;
    text-align: center;
    max-width: 50rem;
    margin: auto;
}

/* BUTTONS */
.openbtn {
    background: none;
    color: #ffffff;
    box-shadow: none;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.sidenav .closebtn { 
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

button {
    width: 19rem;
    height: 5.2rem;
    font-family: 'Lato', sans-serif;
    font-size: 2.118rem;
    color: #ffffff;
    background: #bc2e3a;
    border: none;
    border-radius: 5rem;
    box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.15);
    transition: .4s;
}

button:hover {
    box-shadow: 0px 0px 50px 5px rgba(0,0,0,0.4);
    transition: .4s;
}

.white-button {
    color: #000000;
    background: #ffffff;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top: 15vh;
}

.red-button {
    margin: auto;
    display: block;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

/* MAIN SECTION */
.main-banner {
    background-image: url(img/place-image.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}

h1 {
    float: left;
}

h1 a {
    color: #ffffff;
    margin-left: 1rem;
    text-decoration: none;
    font-family: 'Lato', sans-serif; 
    font-size: 3.5rem;
    text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
    text-align: center;
}

.sidenav span, a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #bc2e3a;
    display: block;
    transition: 0.3s;
    font-family: 'Lato', sans-serif; 
}

.icon-menu {
    visibility: hidden;
}

.title-img {
    width: 90%;
    max-width: 450px;
    display: block;
    margin: auto;
    padding-top: 20vh;
}

.top-main {
    clear: both;
}

.model {
    display: none;
}

.left-main {
    margin: auto;
}

/* WHO WE ARE SECTION */
.who-we-are {
    clear: both;
}

.macbook {
    display: none;
}

/* WHAT WE DO SECTION */
.what-we-do {
    background: #f5f5f5;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    clear: both;
}

.work-box {
    width: 33%;
    min-width: 320px;
    display: inline-block;
}

.work-box > h3 {
    font-weight: 800;
    float: left;
    line-height: 5rem;
    margin-left: 1rem;
}

.work-box > img {
    width: 5rem;
    float: left;
    margin-left: 4rem;
}

.work-box > p {
    clear: both;
    margin-left: 2rem;
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
}

/* HOW WE WORK SECTION */
.slider-main {
    display: none;
    position: relative;
    margin-top: -370px;
    margin-left: 400px;
}

/* OUR CREATIVE TEAM SECTION */
.our-creative-team {
    background: #f5f5f5;
}

.name {
    width: 100px;
    height: 25px;
    background: #252525;
    margin: auto;
    position: relative;
    vertical-align: bottom;
    z-index: 33;
}
    
.name p {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 0.3rem;
}

/* WHAT CLIENT SAYS SECTION */
blockquote p {
    font-style: italic;
    font-size: 1.5rem;
}

figcaption {
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

.client-big {
    width: 80%;
    max-width: 300px;
    display: block;
    margin: auto;
    margin-top: -3rem;
    margin-bottom: 2rem;
}
.small-square-img {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.small-square-img > img:hover {
    opacity: 0.7;
}

.small-square-img > img {
    display: inline;
}

/* GET IN TOUCH SECTION */
.get-in-touch {
    background-image: url(img/footer-img.png);
    background-position: center;
    background-size: cover;
    margin: auto;
    text-align: center;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
    border-top: 1px solid #717171;
    padding-top: 1.2rem;
    max-width: 760px;
    margin: auto;
}

.get-in-touch h2 {
    color: #9f9f9f;
}

.social-icons a {
    color: #ffffff;
    font-size: 2.5rem;
    padding: 0.3rem;
    text-align: center;
    display: inline;
    margin: 0;
    padding: 0.3rem;
}

.social-icons a:hover{
    color: #bc2e3a;
}

.social-icons {
     margin-bottom: 3rem;   
     margin-top: 2rem;   
}

.contact-box {
    color: #ffffff;
    display: inline;
    width: 250px;
}

.contact-box img {
    padding: 1rem;
}

.strong-p {
    display: none;
}

/* MEDIA Q */
@media screen and (min-width: 770px) {
    .contact-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        text-align: center;
        max-width: 750px;
        margin-top: 3rem;
        margin-bottom: 4rem;
    }
    
    .name {
        width: 200px;
        height: 40px;
        margin-top: 300px;
        transform: skew(45deg,0deg);
        padding-right: 1rem;
    }
    
    .name p {
        font-size: 1.8rem;
        padding-top: 0.6rem;
        transform: skew(-45deg,0deg);
    }    
}


@media screen and (min-width: 960px) {
    h2 {
        font-size: 6.2rem;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }
    
    .work-box {
        margin-bottom: 3rem;
    }
    
    .work-box > p {
        padding-left: 8.2rem;
        padding-top: 0;
    }
    
    .who-we-are {
        height: 560px;
        overflow: hidden;
    }
    
    .who-we-are h2 {
        text-align: left;
    }
    
    .who-we-are p {
        text-align: left;
        margin: 0;
        margin-left: 1.2rem;
    }
    
    .macbook {
        float: right;
        width: 60%;
        margin-top: 10rem;
        display: block;
    }
    
    .content-mini {
        width: 40%;
        float: left;
    }
    
    .red-button {
        display: block;
        margin-top: 5rem;
        margin-left: 3rem;
    }
    
    .triangle-1  {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 650px 650px 0 650px;
        border-color: #171717 transparent transparent transparent;
        margin-left: 35rem;
    }

    .triangle-2 {
        width: 0;
        height: 0;
        border-top: 250px solid transparent;
        border-bottom: 250px solid transparent;
        border-left: 250px solid #bc2e3a;
        position: absolute;
        left: -200px;
        bottom: -1140px;
    }
    
    .what-we-do {
        overflow: hidden;
    }
    
    .how-we-work {
        min-height: 600px;
        overflow: hidden;
    }
    
    .how-we-work h2 {
        text-align: left;
    }
    
    .how-we-work p {
        text-align: left;
        margin-left: 1rem;
        width: 300px;
    }
    
    .our-creative-team {
        min-height: 700px;
        overflow: hidden;
    }
    
    .openbtn {
        display: none;
    }
    
    .closebtn,.openbtn {
        visibility: hidden;
    }
    
    .sidenav {
        overflow-x: visible;
        position: relative; 
        display: inline;
    }
    
     .sidenav a {
        color: #fff;
        font-size: 1.5rem;
    }
    
    .sidenav a:hover {
        color: #fff;
        text-shadow: 0px 0px 30px rgba(0, 0, 0, .8);
        transition: .3s;
    }
    
    .sidenav li {
        float: left;  list-style: none;
    }
    
    .sidenav ul{
        float: right;
        margin-top: 3.3rem;
    }
    
    h1 {
        margin-top: 1rem;
    }
    
    .icon-menu {
        visibility: visible;
    }
    
    .fa-search {
        color:#fff;
        font-size: 2.2rem;
        margin-top: 8px;
        margin-left: 35px;
        margin-right: 5px;
        cursor: pointer;
    }
    
    .icon-menu > .icon-fb {
        color: #fff;
        font-size: 1.9rem;
        margin-top: -2px;
        cursor: pointer;
    }
    
    .get-in-touch {
        z-index: 1
    }
    
    .what-client-says {
        min-height: 700px;
        overflow: hidden;
    }
    
    .what-client-says h2 {
        text-align: left;
        position: relative;
        z-index: 22;
    }
    
    .client-big {
        float: left;
        min-width: 420px;
        position: relative;
        z-index: 24;
        margin-right: 10rem;
    }
    
    figure {
        padding-top: 4rem;
    }
    
    figure p,figcaption {
        text-align: left;
        min-width: 900px;
        font-size: 2rem;
    }

    .small-square-img {
        text-align: left;
    }
    
    .triangle-6  {
        width: 0;
	    height: 0;
	    border-top: 300px solid #171717;
	    border-left: 300px solid transparent;
        position: absolute;
        right: 0px;
        bottom: -2825px;
        z-index: -2;
    } 
    
    .social-icons a {
        padding: 1rem;
    }
    
    .left-main {
        float: left;
        width: 50%;
    }
    
    .model {
        float: left;
        width: 50%;
        margin-top: 10vh;
        display: block;
    }
    
    .slider-main {
        display: block;
    } 
}


@media screen and (min-width: 1126px) { 
    .triangle-5 {
        width: 0;
        height: 0;
        border-top: 500px solid transparent;
        border-bottom: 500px solid transparent;
        border-left: 500px solid #bc2e3a;
        position: absolute;
        left: -50px;
        bottom: -3445px;
        z-index: 3;
    }
    .triangle-4 {
        width: 0;
        height: 0;
        border-top: 450px solid transparent;
        border-bottom: 450px solid transparent;
        border-right: 450px solid #bc2e3a;
        position: absolute;
        right: 0px;
        bottom: -1900px;
    }
    
    .triangle-3 {
        width: 0;
        height: 0;
        border-top: 250px solid transparent;
        border-bottom: 250px solid transparent;
        border-left: 250px solid #171717;
        position: absolute;
        left: -150px;
        bottom: -1990px;
    }
    
    .name {
        width: 220px;
        height: 45px;
        margin-top: 355px;
    }
    
    .name p {
        font-size: 1.8rem;
        padding-top: 1rem;
    }
}


@media screen and (min-width: 1100px) { 
    h1 a {
        font-size: 4.3rem;
        font-weight: 800;
    }  
}